#Contact{
    --width: 300px;
    position: absolute;
    right: 0;
    top: 0;

    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    width: var(--width);
    height: 150px;
    z-index: 1;
    background-color: #fffa;
}

#Contact p{
    text-align: right;
    margin: 1px;
    font-size: 10px;
}

#Contact p b{
    color: grey
}
