#Contact{
    --width: 300px;
    position: absolute;
    right: 0;
    top: 0;

    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px;
    width: var(--width);
    /* height: 150px; */
    z-index: 1;
    background-color: #fffb;
}

#Contact h1{
    font-weight: 200;
    margin: 10px 0px 0px 0px;
}

#Contact h2{
    font-weight: 300;
    font-size: 15px;
    line-height: 1.2;
    margin: 5px 0px;
}

#Contact #contact-container{
    display: flex;
    justify-content: space-between;
}

#Contact #contact-text{
    font-size: 10px;
    color: grey;
}

#Contact #contact-text p{
    margin: 1px;
    font-size: 10px;
}


#Contact #contact-links{
    text-align: right;
}

#Contact #contact-links img{
    height: 32px;
    width: 32px;
    margin: 0px 5px;
    filter: invert(50%);
}

#Contact #contact-links img:hover{
    filter: none;
}
