#Contact{
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 5px;
    width: 400px;
    height: 150px;
}

#Contact p{
    text-align: right;
    margin: 1px;
    font-size: 10px;
}

#Contact p b{
    color: grey
}
