#Jumbotron {
    --width: 400px;
    --distance: 100px;
    --rotate: 0deg;

    display: flex;
    justify-content: center;
    perspective: 1000px;
    align-items: center;
    padding-top: 100px;
    width: 100%;
}

.project {
    position: absolute;
    display: block;
    transform-style: preserve-3d;

    width: var(--width);
    height: 500px;
    box-shadow: 2px 2px 5px black;
    transition: 500ms;
    color: white;
}

.project:nth-child(1) {
    transform: rotateY(calc(var(--rotate) - 72deg)) translateZ(400px);
    background-color: red;
}

.project:nth-child(2) {
    transform: rotateY(calc(var(--rotate))) translateZ(400px) ;
    background-color: green;
}

.project:nth-child(3) {
    transform: rotateY(calc(var(--rotate) + 72deg)) translateZ(400px) ;
    background-color: blue;

}

.project:nth-child(4) {
    transform: rotateY(calc(var(--rotate) + 144deg)) translateZ(400px) ;
    background-color: orange;
}

.project:nth-child(5) {
    transform: rotateY(calc(var(--rotate) - 144deg)) translateZ(400px) ;
    background-color: purple;
}


.project img{
    width: 400px;
}
