#Jumbotron {
    --width: 450px;
    --rotate: 0deg;
    /* For z-indexing */
    --z-0: 0;
    --z-1: 1;
    --z-2: 2;
    --z-3: 1;
    --z-4: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

#container {
    position: absolute;
    perspective: 1250px;
    width: 100%;
    height: 100%;
    /* top: -15%; */
}

.tab {
    position: absolute;
    left: calc(50% - (var(--width) / 2));
    top: calc(50% - 425px/2);
    /* top: 150px; */
    padding: 10px 20px;
    box-sizing: border-box;

    width: var(--width);
    height: 425px;

    box-shadow: 2px 2px 10px black;
    transition: 500ms;
    background-color: #954B;
    color: white;
    opacity: 0.70;
}

.tab:hover{
    opacity: 1.0;
}

.tab img{
    width: 400px;
}

.tab:nth-child(1) {
    transform: rotateY(calc(var(--rotate))) translateZ(var(--width)) ;
    background-color: #45B0F6CC;
    z-index: var(--z-2);
}

.tab:nth-child(2) {
    transform: rotateY(calc(var(--rotate) + 72deg)) translateZ(var(--width)) ;
    background-color: #CFBF0ACC;
    z-index: var(--z-3);
}

.tab:nth-child(3) {
    transform: rotateY(calc(var(--rotate) + 144deg)) translateZ(var(--width)) ;
    background-color: #A019AFCC;
    z-index: var(--z-4);
}

.tab:nth-child(4) {
    transform: rotateY(calc(var(--rotate) - 144deg)) translateZ(var(--width)) ;
    background-color: #507D4FCC;
    z-index: var(--z-0);
}

.tab:nth-child(5) {
    transform: rotateY(calc(var(--rotate) - 72deg)) translateZ(var(--width));

    background-color: #DF3B32BB;
    z-index: var(--z-1);
}

/* Rotate buttons */
.rotate {
    /* display: none; */
    position: absolute;

    top: calc(50% - 35px);
    background-color: #FFF0;
    height: 70px;
    width: 70px;
    color: black;
    border: none;
    /* border-radius: 50%; */

    transform: translateZ(var(--width)) rotate(45deg);
    z-index: 20;
}

.rotate:hover{
    border-color: white;
    cursor: pointer;
    filter: brightness(0.75);
}

    .left-rot {
        left: calc(50% - var(--width));
        box-shadow:
        0px 0px 0px inset black,
        10px -10px 0px inset grey,
        20px -20px 0px inset lightgrey,
        30px -30px 0px inset white;
    }

    .right-rot {
        right: calc(50% - var(--width));

        box-shadow:
        -10px 10px 0px inset grey,
        -20px 20px 0px inset lightgrey,
        -30px 30px 0px inset white;
    }
